.body {
  background-color: #e5e5e5;
  font-family: "Source Sans Pro", sans-serif;
}

.svg-desktop {
  position: absolute;
  top: 0;
  width: 1200px;
  height: 800px;
}

.svg-mobile {
  display: none;
}

.first-section {
  background-image: url(../assets/Background_1.png);
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.second-section {
  background-color: #eee;
  width: 1200px;
  height: 700px;
  text-align: center;
  margin: 0 auto;
}

.third-section {
  background-image: url(../assets/Background_2.png);
  background-repeat: no-repeat;
  background-size: 1200px 637px;
  width: 1200px;
  height: 637px;
  text-align: center;
  margin: 0 auto;
}

footer {
  background-color: #464547;
  width: 1200px;
  height: 199px;
  margin: 0 auto;
}

/* font and color*/

#project-top {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

#menu li a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.english-header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  text-align: center;
}
.second-section h2 {
  color: #464547;
}

.latin-header {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.first-section h2 {
  color: rgba(255, 255, 255, 0.7);
}

.second-section h3 {
  color: #666666;
}

.third-section h3 {
  color: #ffffff;
}

.article {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
}

#read-more {
  padding: 8px 15px;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #55c2d8;
  border-radius: 18px;
  border: 1px solid #55c2d8;
}

#start-button {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  background: #39c2d7;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #39c2d7;
}

#project-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.footer a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.footer i {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

/* Size and position */

/* first section */

#project-top {
  position: relative;
  width: 91px;
  height: 16px;
  top: 45px;
  left: 152px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  align-self: center;

  width: 498px;
  height: 18px;
  gap: 32px;
  margin-top: 23px;
  margin-left: 408px;
}

#menu li {
  flex: 0 0 auto;
}

#big-logo {
  width: 63px;
  height: 63px;
  margin: 209px auto 0;
  display: block;
  transition: all 0.7s ease;
}

#big-logo:hover {
  transform: rotateY(180deg) scale(1.4);
}

.first-section h1 {
  width: 386px;
  height: 118px;
  margin: 13px auto 0;
}

.first-section h2 {
  width: 426px;
  height: 56px;
  margin: 42px auto 0;
}

/* second section */

.second-section h2 {
  box-sizing: content-box;
  width: 669px;
  height: 119px;
  padding-top: 66px;
  margin: 0 auto;
}

.second-section h3 {
  box-sizing: content-box;
  width: 426px;
  height: 57px;
  margin: 39px auto 0;
}

.article {
  display: grid;
  gap: 83px;
  margin: 45px auto 0;
  width: 915px;
  grid-template-columns: repeat(2, 1fr);
  height: 172px;
}

#first-paragraph {
  grid-column: 1 / 2;
}

#second-paragraph {
  grid-column: 2 / 3;
}

#read-more {
  margin: 46px auto 0;
  transform-origin: left;
  transition: all 1s;
}

#read-more:hover {
  transform: rotate(10deg);
}

/* third section */

.third-section h2 {
  width: 432px;
  height: 112px;
  box-sizing: content-box;
  padding-top: 80px;
  margin: 0 auto;
}

#start-button {
  width: 145px;
  height: 143.47px;
  margin: 63px auto 0;
  transition: all 0.6s;
}

#start-button:hover {
  background: #fff;
  color: #39c2d7;
  border: 1px solid #fff;
  transform: scale(0.9);
}

.third-section h3 {
  width: 351px;
  height: 97.56px;
  margin: 54.55px auto 0;
}

/* footer */

.footer {
  box-sizing: content-box;
  display: grid;
  width: 910px;
  height: 162px;
  padding-top: 37px;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.logo-project {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer span {
  padding-left: 11px;
}

.footer i {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.footer a {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.footer p {
  grid-column: 6 / 8;
  grid-row: 2 / 3;
}

/* animation */

.bright {
  animation: shine 2.1s alternate infinite;
}

@keyframes shine {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.eclipse1 {
  animation: moving1 2.1s alternate infinite;
}

@keyframes moving1 {
  100% {
    transform: translate(-37px, 8px);
  }
}

.eclipse2 {
  animation: moving2 2.1s alternate infinite;
}

@keyframes moving2 {
  100% {
    transform: translate(-32px, -20px);
  }
}

.eclipse3 {
  animation: moving3 2.1s alternate infinite;
}

@keyframes moving3 {
  100% {
    transform: translate(-23px, -15px);
  }
}

.eclipse4 {
  animation: moving4 2.1s alternate infinite;
}

@keyframes moving4 {
  100% {
    transform: translate(-22px, -5px);
  }
}

.eclipse5 {
  animation: moving5 2.1s alternate infinite;
}

@keyframes moving5 {
  100% {
    transform: translate(-15px, -15px);
  }
}

.eclipse6,
.eclipse7 {
  animation: moving6 2.1s alternate infinite;
}

@keyframes moving6 {
  100% {
    transform: translate(-13px, -13px);
  }
}

.eclipse8,
.eclipse16 {
  animation: moving8 2.1s alternate infinite;
}

@keyframes moving8 {
  100% {
    transform: translate(-8px, -8px);
  }
}

.eclipse9 {
  animation: moving9 2.1s alternate infinite;
}

@keyframes moving9 {
  100% {
    transform: translate(-1px, -7px);
  }
}

.eclipse10 {
  animation: moving10 2.1s alternate infinite;
}

@keyframes moving10 {
  100% {
    transform: translate(-4px, -15px);
  }
}

.eclipse11,
.eclipse14 {
  animation: moving11 2.1s alternate infinite;
}

@keyframes moving11 {
  100% {
    transform: translate(-7px, -7px);
  }
}

.eclipse12 {
  animation: moving12 2.1s alternate infinite;
}

@keyframes moving12 {
  100% {
    transform: translate(-13px, 2px);
  }
}

.eclipse13 {
  animation: moving13 2.1s alternate infinite;
}

@keyframes moving13 {
  100% {
    transform: translate(-14px, 1px);
  }
}

.eclipse15 {
  animation: moving15 2.1s alternate infinite;
}

@keyframes moving15 {
  100% {
    transform: translate(-7px, 2px);
  }
}

/* Mobile */

@media only screen and (max-width: 768px) {
  .first-section {
    width: 480px;
    background-position: right;
  }

  .svg-desktop {
    display: none;
  }

  .svg-mobile {
    display: block;
    position: absolute;
    top: 0;
    width: 480px;
    height: 800px;
  }

  #project-top {
    left: 27px;
    top: 41px;
  }

  #menu {
    display: none;
  }

  .nav div {
    margin: 6.62px 0 0;
    border: 2px solid #fff;
  }
  .nav {
    display: block;
    width: 22px;
    margin: 18px 0 0 438px;
  }

  /* second section */
  .second-section {
    width: 480px;
    height: 990px;
    text-align: left;
  }
  .second-section h2 {
    text-align: left;
    margin-left: 27px;
    width: 355px;
    height: 261px;
  }
  .second-section h3 {
    text-align: left;
    margin-left: 27px;
  }
  .article {
    gap: 24px;
    margin: 45px 0 0;
    width: 445px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    margin-left: 27px;
    height: 330px;
  }

  #first-paragraph {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #second-paragraph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #read-more {
    margin: 29.28px 27px 0;
  }

  /* third section */

  .third-section {
    width: 480px;
    background-position: center;
  }

  #start-button {
    width: 100px;
    height: 98px;
    font-size: 45px;
  }

  .third-section h3 {
    width: 397px;
    height: 102px;
  }

  /* footer */

  footer {
    width: 480px;
    height: 292px;
  }

  .footer {
    width: 100%;
    height: 236px;
    padding-top: 56px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
  }

  .logo-project {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer i {
    grid-column: 1 /2;
    grid-row: 2 / 3;
  }

  .footer a {
    grid-column: 1 /2;
    grid-row: 3 / 4;
  }

  .footer p {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
